 @import 'reset.css';

@font-face {
	font-family: TTTravels;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/TTTravels.eot);
	src: url(../fonts/TTTravels.eot?#iefix) format("embedded-opentype"),url(../fonts/TTTravels.woff) format("woff"),url(../fonts/TTTravels.ttf) format("truetype");
}

*,::after,::before {
	box-sizing: border-box;
}


body {
	min-width: 320px;
	font-family: TTTravels;
	line-height: 1.5;
	overflow-x: hidden;
	background-color: navy;
}


.svg {
	position: relative;
}

.svg__title {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 10000;
}

.svg__text {
    font-size: 80px;
    color: navy;
    background-blend-mode: darken
}

.svg__top {
	position: relative;
}

.svg__top img {
	width: 100%;
	z-index: 101;
	position: relative;
}

.svg__container {
    position: relative;
}

.svg__proj:nth-child(1) img {
	position: absolute;
	top: -55px;
	left: 13%;
    z-index: 100;
}
.svg__container .svg__proj img:hover + svg path {
    fill: navy;
}

.svg__container .svg__proj:nth-child(2) img {
	position: absolute;
	top: -75px;
    left: 50%;
    z-index: 100;
}
.svg__container .svg__proj:nth-child(3) img {
	position: absolute;
	top: -75px;
    left: 78%;
    z-index: 100;
}
.proj1 svg {
	top: -120px;
	left: 8%;
	z-index: -1;
	position: relative;
}
.proj2 svg {
	position: absolute;
	top: -90px;
	transform: translateX(50%);
	right: 53%;
	z-index: -1;
}
.proj3 svg {
	position: absolute;
	top: -90px;
	transform: translateX(50%);
	right: 48%;
	z-index: -1;
}






.svg__fish img:nth-child(1) {
	position: absolute;
	top: 45%;
}

.svg__fish img:nth-child(2) {
	position: absolute;
	top: 77%;
	left: 30%;
}

.svg__fish img:nth-child(3) {
	position: absolute;
	top: 50%;
	left: 56%;
}

.svg__note img:nth-child(1) {
    position: absolute;
    top: 48%;
    left: 34%;
    animation: note 10s ease infinite;
}
.svg__note img:nth-child(2) {
    position: absolute;
    top: 83%;
    left: 55%;
    animation: note2 12s ease infinite;
}
.svg__note img:nth-child(3) {
    position: absolute;
    top: 46%;
    left: 56%;
    animation: note3 8s ease infinite;
}
.svg__note img:nth-child(4) {
    position: absolute;
    top: 78%;
    left: 52%;
    animation: note2_1 12s ease infinite;
}
.svg__note img:nth-child(5) {
    position: absolute;
    top: 74%;
    left: 59%;
    animation: note2_2 12s ease infinite;
}
.line {
	background: #58a4fb;
	font-size: 37px;
	color: #fff;
    display: flex;
}

.fish {
	padding: 200px 0 40px;
	position: relative;
    overflow: hidden;
}

.fish img:nth-child(1) {
	position: relative;
	left: 15%;
    top: -130px;
    animation: rotate-fish2 5s linear infinite;
}

.fish img:nth-child(2) {
	position: absolute;
	left: 30%;
	top: 360px;
    animation: rotate-fish 5s linear infinite;
}
.fish img:nth-child(1):hover {
    animation-play-state: paused;
}
.fish img:nth-child(2):hover {
    animation-play-state: paused;
}

.minfish {
	height: 1000px;
    overflow: hidden;
}

.minfish__img {
	display: inline-block;
	position: relative;
    animation: minfish 5s ease infinite, minfish-top 5s steps(1) infinite;
}
.minfish__img:hover {
	animation-play-state: paused;
}

.minfish__img:nth-child(2) {
	left: 8%;
	top: 220px;
    animation: minfish2 5s ease infinite, minfish-top 5s steps(1) infinite;
}
.minfish__img:nth-child(1) {
	animation: minfish1 5s ease infinite, minfish-top 5s steps(1) infinite;
    left: 5%;
}
.minfish__img:nth-child(3) {
	animation: minfish3 5s ease infinite, minfish-top 5s steps(1) infinite;
}
.minfish__img:nth-child(4) {
	animation: minfish4 5s ease infinite, minfish-top 5s steps(1) infinite;
}
.minfish__img:nth-child(5) {
	animation: minfish5 5s ease infinite, minfish-top 5s steps(1) infinite;
}

.minfish__img:nth-child(1)::after {
	left: 50%;
	bottom: 175px;
	height: 340px;
}

.minfish__img:nth-child(2) {
	left: 15%;
	top: 140px;
}

.minfish__img:nth-child(2)::after {
	left: 32%;
	bottom: 135px;
	height: 440px;
}

.minfish__img:nth-child(3) {
	left: 10%;
	top: 480px;
}

.minfish__img:nth-child(3)::after {
	left: 66%;
	bottom: 180px;
	height: 640px;
}

.minfish__img:nth-child(4) {
	left: 13%;
	top: 290px;
}

.minfish__img:nth-child(4)::after {
	left: 60%;
	bottom: 120px;
	height: 440px;
}

.minfish__img:nth-child(5) {
	left: 16%;
	top: 290px;
}

.minfish__img:nth-child(5)::after {
	left: 35%;
	bottom: 80px;
	height: 640px;
}

.minfish__img::after {
	content: "";
	position: absolute;
	width: 6px;
	z-index: -1;
	background: #fdefbf;
}

.wave__container {
	display: flex;
}

.wave__text {
    font-size: 35px;
    color: #fff;
    position: relative;
    left: -8%;
    top: 80px;
    border-radius: 100px 100px 20px 20px;
    width: 25%;
    text-align: center;
    animation: text__fish 5s ease infinite;
}
.wave__container img {
    left: 10%;
    position: relative;
}

.wave {
    overflow: hidden;
}

.footer {
	padding: 60px 0 45px;
	background: #fdefbf;
    overflow: hidden;
}

.footer__text {
	left: 5%;
	position: relative;
	color: navy;
	font-weight: 500;
	font-size: 32px;
	line-height: 45px;
}


/* .footer__link {
	left: 5%;
	position: relative;
}

.footer__link a {
	color: navy;
	font-weight: 500;
	font-size: 32px;
	line-height: 45px;
	text-decoration: none;
    position: relative;
}
.footer__link a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: navy;
}

.footer__link a:hover {
	color: navy;
	text-decoration: none;
} */


@keyframes text__fish {
    0% {
        transform: rotate(61.65deg) translate(-40px, 40px);
    }
    100% {
        transform: rotate(61.65deg) translate(-60px, -120px);
    }
}

@keyframes minfish1 {
    0% {
        top: 20px;
    }
    50% {
        top: 260px;
    }
    100% {
        top: 60px;
    }
}
@keyframes minfish2 {
    0% {
        top: 20px;
    }
    50% {
        top: 180px;
    }
    100% {
        top: 20px;
    }
}
@keyframes minfish3 {
    0% {
        top: 140px;
    }
    50% {
        top: 440px;
    }
    100% {
        top: 140px;
    }
}
@keyframes minfish4 {
    0% {
        top: 20px;
    }
    50% {
        top: 240px;
    }
    100% {
        top: 20px;
    }
}
@keyframes minfish5 {
    0% {
        top: 100px;
    }
    50% {
        top: 340px;
    }
    100% {
        top: 100px;
    }
}

@keyframes minfish-top {
    0% {
        transform: scale(-1, 1)
    }
    50% {
        transform: scale(1, 1)
    }
    100% {
        transform: scale(-1, 1)
    }
}

@keyframes rotate-fish {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@keyframes rotate-fish2 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes note {
    0% {
        top: 48%;
    }
    100% {
        top: 15%;
    }
}

@keyframes note2 {
    0% {
        top: 83%;
    }
    100% {
        top: 15%;
    }
}
@keyframes note2_1 {
    0% {
        top: 78%;
    }
    100% {
        top: 15%;
    }
}
@keyframes note2_2 {
    0% {
        top: 74%;
    }
    100% {
        top: 15%;
    }
}

@keyframes note3 {
    0% {
        top: 46%;
    }
    100% {
        top: 15%;
    }
}


@media (max-width:1740px) {
    .proj3 svg {
        right: 52%;
    }
}
@media (max-width:1540px) {
    .proj3 svg {
        right: 55%;
    }
}



@media (max-width:1440px) {
    .wave__container img {
        left: 2%;
    }
    .wave__text {
        width: 29%;
        left: -19%;
        top: 60px;
    }
	.svg__light {
		margin-bottom: -85px;
	}

	.minfish__img:nth-child(2) {
		left: 5%;
	}

	.minfish__img:nth-child(3) {
		left: 9%;
	}

	.minfish__img:nth-child(4) {
		left: 4%;
	}

	.minfish__img:nth-child(5) {
		left: 3%;
	}

	.minfish__img:nth-child(6) {
		left: 0;
	}

	.footer {
		overflow: hidden;
	}

	.svg {
		overflow: hidden;
	}

	.proj3 svg {
		right: 56%;
	}

	.svg__proj img:nth-child(2) {
		left: 40%;
		top: -85px;
	}

	.proj2 svg {
		right: 54%;
	}

	.proj1 svg {
		top: -105px;
	}

	.svg__fish img:nth-child(2) {
		top: 80%;
		left: 25%;
	}

	.svg__fish img:nth-child(3) {
		top: 45%;
		left: 64%;
	}
    .fish img:nth-child(1) {
        position: relative;
        left: 2%;
        top: -130px;
        animation: rotate-fish2 5s linear infinite;
    }

    .fish img:nth-child(2) {
        position: absolute;
        left: 22%;
        top: 360px;
        animation: rotate-fish 5s linear infinite;
    }
}

@media (max-width:1320px) {
    .proj3 svg {
        right: 60%;
    }
    .svg__fish img:nth-child(1) {
        top: 41%;
    }
}


@media (max-width: 1200px) {
    .fish img:nth-child(1) {
        width: 85%;
        left: 6%;
    }
    .fish img:nth-child(2) {
        width: 43%;
        left: 26%;
    }
    .minfish__container{
        display: flex;
    }
    .minfish__img img {
        width: 80%;
    }
    .minfish__img:nth-child(2) {
        left: 1%;
    }
    .minfish__img:nth-child(3) {
        left: 0;
    }
    .minfish__img:nth-child(4) {
        left: -70px;
    }
    .minfish__img:nth-child(3)::after {
        left: 51%;
        bottom: 120px;
    }
    .minfish__img:nth-child(1)::after {
        bottom: 130px;
        left: 30%;
    }
    .minfish__img:nth-child(5) {
        left: -14%;
    }
    .minfish__img:nth-child(4)::after {
        left: 55%;
        bottom: 90px;
    }
    .minfish__img:nth-child(2)::after {
        left: 22%;
    }
    .minfish__img:nth-child(5)::after {
        bottom: 135px;
        left: 25%;
    }
    .svg__fish img:nth-child(3) {
        width: 30%;
        top: 41%;
    }
    .svg__fish img:nth-child(1) {
        width: 30%;
    }
    .svg__note img:nth-child(1) {
        left: 31%;
    }
    .svg__fish img:nth-child(3) {
        width: 30%;
        left: 66%;
        top: 43%;
    }
    .proj3 svg {
        right: 63%;
    }
    .minfish__img:nth-child(1)::after {
        bottom: 110px;
    }
    .minfish__img:nth-child(2)::after {
        bottom: 105px;
    }
    .wave img {
        width: 60%;
    }
    .wave__text {
        width: 50%;
        font-size: 27px;
    }
}

@media (max-width:1020px) {
    .svg__title {
        top: 10px;
    }
    .svg__proj:nth-child(1) img {
        top: -68px;
        left: 10%;
    }
    .proj1 svg {
        left: 4%;
    }
    .proj2 svg {
        right: 56%;
    }
    .proj3 svg {
        right: 67%;
    }
    .svg__container .svg__proj:nth-child(3) img {
        top: -55px;
        left: 79%;
    }
    .svg__fish img:nth-child(3) {
        top: 35%;
    }
    .svg__fish img:nth-child(1) {
        top: 38%;
    }
    @keyframes note3 {
        0% {
            top: 36%;
        }
        100% {
            top: 15%;
        }
    }
    @keyframes note {
        0% {
            top: 38%;
        }
        100% {
            top: 15%;
        }
    }
    .svg__fish img:nth-child(2) {
        width: 25%;
    }
    .fish img:nth-child(2) {
        top: 280px;
    }
    .minfish {
        height: 700px;
    }

}

@media (max-width:900px) {
    .wave__text {
        width: 70%;
        font-size: 20px;
    }
    @keyframes minfish1 {
        0% {
            top: 20px;
        }
        50% {
            top: 220px;
        }
        100% {
            top: 60px;
        }
    }
    @keyframes minfish2 {
        0% {
            top: 20px;
        }
        50% {
            top: 140px;
        }
        100% {
            top: 20px;
        }
    }
    @keyframes minfish3 {
        0% {
            top: 140px;
        }
        50% {
            top: 360px;
        }
        100% {
            top: 140px;
        }
    }
    @keyframes minfish4 {
        0% {
            top: 20px;
        }
        50% {
            top: 200px;
        }
        100% {
            top: 20px;
        }
    }
    @keyframes minfish5 {
        0% {
            top: 100px;
        }
        50% {
            top: 270px;
        }
        100% {
            top: 100px;
        }
    }
    .minfish__img:nth-child(1)::after {
        bottom: 50px;
    }
    .minfish__img:nth-child(2)::after {
        bottom: 65px;
    }
    .minfish__img:nth-child(3)::after {
        bottom: 65px;
    }
    .minfish__img:nth-child(5)::after {
        bottom: 75px;
    }
    .minfish__img:nth-child(1) {
        left: 2%;
    }
    .fish img:nth-child(2) {
        top: 215px;
    }
    .svg__title {
        top: 0;
    }
    .svg__text {
        font-size: 60px;
    }
    .svg__proj:nth-child(1) img{
        width: 15%;
        top: -40px;
    }
    .proj1 svg {
        left: 1%;
    }
    .proj2 svg {
        right: 57%;
    }
    .proj3 svg {
        right: 74%;
    }
    .svg__container .svg__proj:nth-child(2) img {
        width: 15%;
        top: -60px;
    }
    .svg__container .svg__proj:nth-child(3) img {
        width: 15%;
        top: -60px;
        left: 80%;
    }
}
@media (max-width:860px) {
    .proj2 svg {
        right: 58%;
    }
    .proj3 svg {
        right: 77%;
    }
    .svg__container .svg__proj:nth-child(3) img {
        top: -55px;
    }
    .svg__fish img:nth-child(1), .svg__fish img:nth-child(3) {
        top: 28%;
    }
    @keyframes note {
        0% {
            top: 28%;
        }
        100% {
            top: 15%;
        }
    }
    @keyframes note3 {
        0% {
            top: 28%;
        }
        100% {
            top: 15%;
        }
    }

}
@media (max-width:830px) {
    .proj3 svg {
        right: 80%;
    }
}
@media (max-width:800px) {
    .proj2 svg {
        right: 60%;
    }
    .proj3 svg {
        right: 84%;
    }
    .svg__container .svg__proj:nth-child(3) img {
        top: -50px;
    }

}

@media (max-width:760px) {
    .proj3 svg {
        right: 97%;
        top: -30px;
    }
    .svg__container .svg__proj:nth-child(3) img {
        top: -40px;
        left: 77%;
    }
}

@media (max-width:576px) {
    .proj1 svg {
        top: -50px;
        left: 6%;
    }
    .svg__container .svg__proj:nth-child(2) img {
        top: -40px;
        left: 53%;
    }
    .proj2 svg {
        top: -35px;
        right: 63%;
    }
    .svg__container .svg__proj:nth-child(3) img {
        top: -40px;
        left: 77%;
    }
    .proj3 svg {
        right: 119%;
        top: -51px;
    }
    .svg__fish img:nth-child(1) {
        top: 40%;
    }
    @keyframes note {
        0% {
            top: 40%;
        }
        100% {
            top: 15%;
        }
    }
    .svg__fish img:nth-child(3) {
        top: 43%;
    }
    @keyframes note3 {
        0% {
            top: 43%;
        }
        100% {
            top: 15%;
        }
    }
    .svg__container {
        margin-bottom: -800px;
    }
    .svg__note img:nth-child(3) {
        left: 48%;
    }
    .minfish {
        height: 500px;
    }

    @keyframes minfish3 {
        0% {
            top: 140px;
        }
        50% {
            top: 240px;
        }
        100% {
            top: 140px;
        }
    }
    .minfish__img:nth-child(5) {
        left: -6%;
    }
    .minfish__img:nth-child(4) {
        left: -15px;
    }
    .minfish__img:nth-child(4)::after {
        left: 45%;
        bottom: 65px;
    }
    .wave__text {
        font-size: 16px;
        left: -17%;
        top: 55px;
    }
    .wave img {
        width: 67%;
        left: 0;
    }
    .svg__text {
        font-size: 30px;
    }
    .line {
        font-size: 26px;
    }
}
@media (max-width:540px) {
    .proj2 svg {
        right: 66%;
    }
    .proj3 svg {
        right: 128%;
    }

}
@media (max-width:510px) {
    .proj3 svg {
        right: 135%;
    }

}

@media (max-width:470px) {
    .proj2 svg {
        right: 66%;
    }
    .proj3 svg {
        right: 146%;
    }
    .svg__fish img:nth-child(1) {
        top: 30%;
    }
    .svg__fish img:nth-child(3) {
        top: 33%;
    }
    @keyframes note {
        0% {
            top: 30%;
        }
        100% {
            top: 15%;
        }
    }
    .svg__fish img:nth-child(3) {
        top: 33%;
    }
    @keyframes note3 {
        0% {
            top: 43%;
        }
        100% {
            top: 15%;
        }
    }
    .wave img {
        width: 55%;
    }
    .wave__text {
        font-size: 14px;
        left: -14%;
        top: 40px;
    }
    .footer__text, .footer__link a {
        font-size: 24px;
    }
    .minfish__img:nth-child(2)::after {
        bottom: 55px;
    }
    .minfish__img img {
        width: 100%;
    }
    .proj2 svg {
        right: 71%;
    }

}
@media (max-width:450px) {
    .minfish__img::after {
        width: 3px;
    }
    .minfish__img:nth-child(3)::after {
        left: 58%;
    }
    .minfish {
        height: 400px;
    }
    .minfish__img:nth-child(1)::after {
        left: 45%;
    }
    .fish img:nth-child(2) {
        top: 150px;
    }
    .svg__container .svg__proj:nth-child(3) img {
        top: -30px;
        left: 78%;
    }
    .svg__fish img:nth-child(2) {
        width: 40%;
        left: 15%;
    }
}

@media (max-width:430px) {
    .proj3 svg {
        top: -20px;
        right: 166%;
    }

}
@media (max-width:400px) {
    .proj3 svg {
        top: -20px;
        right: 175%;
    }
    .proj2 svg {
        right: 75%;
    }
    .footer__text, .footer__link a {
        font-size: 18px;
    }

}
